.error {
    display: flex;
    align-items: center;
    min-height: 2rem;
    border-radius: 0.5rem;
    padding: 1rem;
    background: var(--error-default);
    color: var(--error-light);
  }


  nav {
    height: 4rem;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--background-tertiary);
    color: var(--foreground-quaternary);
    font-size: 1rem;
  }

  
  nav .title {
    margin-left: auto;
    margin-right: auto;
  }
  .split {
    height: 4rem;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 0px;

    
  }
  
  /* Control the left side */
  .left {
    left: 0;
    background-color:var(--background-default);
    color:var(--foreground-default);
    border-right:1px solid var(--foreground-default);
    text-align: center;
    

  }
  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 0%;
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    background-color:transparent;
  }
  /* Control the right side */
  .right {
    right: 0;
    background-color:var(--background-default);
    color:var(--foreground-default);
  }

  .input-container {
    display: inline-table;
    width: 250px;
    
 
  }
  
  .icon {
    padding: 10px;
    margin-left: -3px;
    background:transparent;
    color: var(--background-secondary);
    min-width: 50px;
    text-align: center;
    border-right: 2px solid var(--foreground-tertiary);
    border-top: 2px solid var(--foreground-tertiary);
    border-bottom: 2px solid var(--foreground-tertiary);
    border-radius: 5px;
    
  }
  
  .input-field {
    width: 70%;
    padding: 10px;
    outline: none;
    border: 2px solid var(--foreground-tertiary);
    border-radius: 5px;
  }
  
  .input-field:focus {
    border: 2px solid var(--foreground-tertiary);
  }

















.searchInput {
    width: 20%;
    overflow: auto;
    white-space: nowrap;
}

#funkystyling {
    background: url(./../assets/icons/svg/CodeChart_Web_Icons__CodeChart\ Logo.svg)
        right no-repeat;
    padding-right: 17px;
    background-size: contain;
}
.hljs-ln td.hljs-ln-numbers {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* text-align: center; */
    color: #ccc;
    /* border-right: 1px solid #CCC; */
    vertical-align: top;
    padding-right: 10px;

    /* your custom style here */
    border-right: 1px solid black !important;
    text-align: left !important;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0px;
    overflow: hidden;
}

.controls {
    width: 100%;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: fixed;
    z-index: 100;
    pointer-events: none;
    user-select: none;
}

.fullScreenButtons {
    z-index: 101;
    border-radius: 5px 5px 5px 5px;
    padding: 3px;
    margin: 3px;
    pointer-events: all;
}

.fullScreenButtons:hover {
    border: 1px solid grey;
}

input {
    background-color: var(--background-default);
    color: var(--foreground-default);
}

.max-50 {
    max-width: 50%;
}

.searchButtons {
    position: fixed;
    bottom: 15px;
    right: 0px;
    padding: 10px;
    display: flex;
    align-items: flex-end;
}

.generalActions {
    position: fixed;
    top: -5px;
    right: 0px;
    margin: 0px;
    display: flex;
    align-items: flex-end;
}

.searchLocations {
    position: fixed;
    bottom: 0px;
    left: 0px;
    padding: 25px;
    display: flex;
    align-items: flex-end;
}

.buttonsbox {
    display: flex;
    flex-direction: column;
}

.wrap {
    width: 100%;
}
.dropdown.mr5 {
    /*border:0px;*/
}

button.btn.btn-primary.dropdown-toggle {
}
.dropdown .dropdown-menu .dropdown-item label {
    margin-bottom: 0px;
}
.dropdown .dropdown-menu .dropdown-item {
    cursor: pointer;
}
span.seperator {
    /* background-color: rgb(51,51,51); */
    /* margin-left: 4px; */
    margin-right: 4px;
    border-right: 1px solid rgb(51, 51, 51);
    /* border-left: 1px solid rgb(51,51,51); */
    padding-left: 2px;
    padding-right: 2px;
}
.filer {
    display: flex;
    /*height:900px;*/
    /* border: 1px solid var(--foreground-tertiary); */

    /* border: 1px solid #747575; */

}

.filer #bordered {
    /* border-right: 1px solid rgb(51, 51, 51); */
    border-bottom: 1px solid rgb(51, 51, 51);
    background-color: var(--background-secondary);
}

.fullWidth {
    width: 100%;
}

.halfWidth {
    width: 50%;
}

.vertical {
    border-left: 1px solid var(--foreground-tertiary);
    height: 50px;
}
/* :host::ng-deep .ui-dropdown-panel .ui-dropdown-items-wrapper{
    scrollbar-width: thin;
    scrollbar-color: #CFD8DC #90A4AE;;
} */

:host::ng-deep .ui-widget-content {
    background:var(--background-tertiary);
    color:var(--foreground-light);
  
}

:host::ng-deep .ui-dropdown-filter-container{
   color: var(--foreground-dark);
  
    background: #1a1a1a;
    color: white;
}

:host::ng-deep .ui-dropdown-filter-container {
    color: #595959;
}
/* :host::ng-deep .ui-dropdown-items-wrapper{
    background-color: red;
} */

:host::ng-deep input.ui-dropdown-filter.ui-inputtext.ui-widget.ui-state-default.ui-corner-all{
    border:1px solid var(--background-light);
    border-radius: 5px;
    height: 30px;
    background-color:var(--background-default);
}
:host::ng-deep .ui-dropdown-item {
    background-color: transparent;
    color: var(--background-middle);
}
:host::ng-deep .ui-dropdown-item:hover {
    color: var(--background-secondary);
    background-color: var(--foreground-light);
}

:host::ng-deep .ui-inputtext {
    background:var(--background-default);
    color:var(--foreground-default);
    text-overflow: ellipsis;
}
:host::ng-deep .ui-state-default {
    background-color: transparent;
    border: 0px;
}
 :host::ng-deep .ui-dropdown .ui-dropdown-trigger {
  background: color var(--foreground-default);
} 
:host::ng-deep .fa-caret-down:before {
    content: '\f078';
    color: var(--foreground-default);
}
.skewed {
    background-color: black;
    transform: skewX(-20deg);
    height: 50px;
    width: 50px;
}

.round-button {
    min-width: 40px;
    max-width: 80px;
    text-decoration: none;
    display: inline-block;
    outline: none;
    cursor: pointer;
    border-style: none;
    color: var(--foreground-light);
    background-color: transparent;
    border-radius: 100%;
    overflow: none;
    text-align: center;
    padding: 0;
    margin-right: 5px;
    margin-bottom: 5px;
}
.parent {
    color: #0074d9;
    margin-bottom: 1px;
    margin-left: 5px;
    margin-right: 5px;
}

.element {
    margin-top: -25px;
    margin-left: 20px;
    background-color: transparent;
    padding: 10px;
    color: #000;
    position: absolute;
}

.round-button:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    padding-top: 100%;
}
span {
    display: inline-block;
    vertical-align: middle;
    max-width: 90%;
}
.round-button:active {
    background-color: #2980b9;
}

#filer #fileContent {
    margin: 0px;
    padding: 0px;
    width: 9000px;
}

#filer #codepre {
    margin: 0px;
    padding: 0px;
    display: inline-table;
}

#fileLoadInput {
    display: none;
}

.wtf_button.mr5 {
    margin: 2px;
    border-radius: 50px;
}

button.selected {
}

input {
    border: 1px solid rgb(51, 51, 51);
    margin-right: 4px;
    margin-left: 4px;
}

button.left {
    border-left: 1px solid rgb(51, 51, 51);
}

.alignContentToCenter {
    text-align: center;
}

/*#nodeTitle {width:0px; height:0px; opacity: 0}*/

#nodeTitleInput {
    width: 400px;
    height: 100px;
}
#nodeStylePopup {
    position: absolute;
    z-index: 999;
}

.visjs {
}

.vis-network {
    background-color: var(--background-default) !important;
}

.ace_print-margin {
    left: 0 !important;
}

.w40 {
    width: 40px;
}

.h100w50 {
    height: 100%;
    width: 50%;
}

.h100 {
    flex: 1;
}

.w60p {
    width: 60px;
}

#message_box {
    width: 40%;
    position: fixed;
    bottom: 5%;
    background-color: lawngreen;
    -ms-flex-line-pack: center;
    align-content: center;
    z-index: 99999;
    border-radius: 50px 50px 50px 50px;
    padding: 10px 50px;
    left: 5%;
    visibility: hidden;
}

button {
    /* text-transform:capitalize;
  cursor:pointer;
  background-color:rgb(212,212,212);
  margin: 2px;
  border-radius: 50px;
  color: rgb(51,51,51); */
    /*border-radius: 0px 10px 10px 0px;*/
    /* white-space: nowrap;
  text-align: center; */
    /*transition:all ease-in 0.4s*/
}

.alignFlexToRight {
    justify-content: flex-end;
}

.fixedOnTopOfComponent {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: fixed;
    width: inherit;
    /* height: fit-content; */
    z-index: 9;
    pointer-events: none;
}

.fileLegendItem {
    margin-left: 5px;
    border-style: solid;
    padding: 3px;
    margin: 5px;
    background-color: var(--foreground-light);
    /* border-color: aqua; */
    border-radius: 10px 0px 10px 0px;
    font-weight: bold;
    cursor: default;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
        1px 1px 0 #000;
    color: var(--foreground-light);
}

.label {
    text-transform: capitalize;
    cursor: pointer;
    background-color: gray;
    border: 1px solid rgb(51, 51, 51);
    /*border-radius: 10px;*/
    color: var(--foreground-light);
}

/* button:hover{
  color: rgb(51,51,51);
  background-color:white;
}

button.active {
  background-color:rgb(51,51,51);
  color: rgb(212, 212, 212)
} */

.mr5_1 {
    /* margin: 3px 7px; */
    margin: 0px;
    border: 0px;
    border-right: 1px solid black;
    padding: 0px 4px 0px 4px;
}

.matchInDialog {
    padding-left: 10px;
}

.fileMatchInDialog {
    font-weight: bold;
    text-decoration: underline;
}

.noSelectedNodeInResults {
    border-radius: 2px;
    border: 2px dashed red;
    margin: 5px;
    margin-bottom: 20px;
    padding: 5px;
    padding-left: 10px;
    font-weight: bold;
    background-color: lightpink;
}

.stylingPopup {
    border: 1px solid rgb(51, 51, 51);
    border-radius: 2px;
    padding: 3px;
    background-color: var(--foreground-light);
}

.pads {
    /* border: 1px solid #333333; */
    background-color: var(--background-secondary);
    height: 49px;
    /* border-radius: 15px; */
}

.searchPatterns {
    padding: 15px;
    margin-right: 20px;
}

.keypad {
    margin: 5px;
    background-color: #cc6699;
}

.keypadAndButtons {
}

.chartAdditions {
}

.stylingPad {
}
/*
.patternButtons button{
  border: 1px solid rgb(90, 90, 40);
  background-color: rgb(150, 70, 73);
  color: white
}
*/

.columnarButtonsWrapper {
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 25px;
}

.tooltip {
    display: block;
    position: fixed;
    overflow: hidden;
    z-index: 999;
}
