 <div *ngIf="showNodeEditBox" class="stylingPopup" id='nodeStylePopup'>
  <textarea *ngIf="selectedNode" id='nodeTitleInput' [ngModel]="selectedNode?.label"
    (keyup)="setTitle($event)"></textarea>
  <node-styling [appComponent]="this"></node-styling>
</div>
<div class="main">
  <div *ngIf="!filerFullscreen" id="topbox" class="controls" style="pointer-events:none">
    <div generalActions class="generalActions pads max-50" style="pointer-events:auto">
      

      
      <button class="round-button">
        <img src="./../assets/icons/edit.png" style="margin-bottom: -10px;">
    
      </button>
      
      <div class="vertical"></div>

      <button class="parent round-button" style="margin-bottom: 5px;" pTooltip="Search Actions" (click)="fitAllNodesOnScreen()">
        <img src="./../assets/icons/svg/CodeChart_Web_Icons__Get File Node.svg">
      
        <div class="element">
          <img src="./../assets/icons/svg/CodeChart_Web_Icons__menu arrow.svg">
      
        </div>
      </button>
      
       
       <div class="vertical"></div>
       <button class="parent round-button"  style="margin-bottom: 5px;" pTooltip="Diagram Actions" (click)="fitAllNodesOnScreen()">
        <img src="./../assets/icons/svg/CodeChart_Web_Icons__Link Nodes.svg">
      
        <div class="element">
          <img src="./../assets/icons/svg/CodeChart_Web_Icons__menu arrow.svg">
      
        </div>
      </button>
      <div class="vertical"></div>
      

      <div style="overflow: hidden" style="margin-left: 5px;margin-right: 5px;">
        <div style=" float:left; padding-bottom:1000px; margin-bottom:-1000px">
          <img src="./../assets/icons/svg/CodeChart_Web_Icons__Add to Top Selected.svg"  pTooltip="Add to Top"   style="margin-top: 15px;">
          <br/>
          <img src="./../assets/icons/svg/CodeChart_Web_Icons__Add to Bottom.svg"  pTooltip="Add to Bottom" style="margin-top: -15px;">
          </div>
        <div style="float:left; padding-bottom:800px; margin-bottom:-800px;margin-left: 5px;">
          <img src="./../assets/icons/svg/CodeChart_Web_Icons__Add to Left.svg"  pTooltip="Add to Left" style="margin-top: 20px;">
       
       
        </div>
        <img src="./../assets/icons/svg/CodeChart_Web_Icons__Add to Right.svg"  pTooltip="Add to Right" style="margin-left: 5px;margin-top: 20px;">

      </div>
      <div class = "vertical"></div>
     
      <button class="round-button" pTooltip="fit all" (click)="fitAllNodesOnScreen()">
        <img src="./../assets/icons/svg/CodeChart_Web_Icons__Fit All.svg">
       </button>
       <button class="round-button" pTooltip="undo" (click)="undo()">
          <img src="./../assets/icons/svg/CodeChart_Web_Icons__Undo.svg">
      </button>
     
      <button class="round-button"  pTooltip="Clear">
        <img src="./../assets/icons/svg/CodeChart_Web_Icons__Clear.svg">
    
      </button>
      <div class = "vertical"></div>
     
        <button class="round-button"  pTooltip="Edit Diagram" (click)="showStylingElement($event.x, $event.y, !showNodeEditBox)">
          <img src="./../assets/icons/svg/CodeChart_Web_Icons__Edit Diagram Down.svg">
        </button>
        
        

        <!-- <button (click)="showStylingElement($event.x, $event.y, !showNodeEditBox)" type="button"><i
            class="fa fa-paint-brush" aria-hidden="true"></i>
          <span class="caret"></span>
        </button> -->
      <!-- </div> -->
     
      <!-- <button (click)="chartFullscreen=!chartFullscreen" class="clearSearchButton">
        <i class="fa" [ngClass]="(chartFullscreen) ? 'fa-compress' : 'fa-expand'" aria-hidden="true"></i>
      </button> -->
      <div class = "vertical"></div>
     
      <button class="round-button">
        <i class ="fa" [ngClass]="(filerFullscreen) ? 'fa-compress' : 'fa-expand'" (click)="chartFullscreen=!chartFullscreen" aria-hidden="true"></i>
      </button>
     

      <!-- <button class="round-button" pTooltip="undo" (click)="undo()" class="mr5"><i class="fa fa-undo" aria-hidden="true"> </i></button> -->
      <!-- <button pTooltip="fit all" (click)="fitAllNodesOnScreen()" class="mr5"><i class="fa fa-arrows-alt"
          aria-hidden="true"> </i></button> -->
      <!-- <button (click)="clear()" class="clearSearchButton" style="">clear</button> -->
      <!-- <button (click)="chartFullscreen=!chartFullscreen" class="clearSearchButton" style="">
        <i class="fa" [ngClass]="(chartFullscreen) ? 'fa-compress' : 'fa-expand'" aria-hidden="true"></i>
      </button> -->
    </div>
    <div class="searchButtons max-50">
     
       <span style="pointer-events:auto;" class="pads searchPatterns">
        <div style="padding-bottom: 5px;">
          <div class="h100w50 visjs" [ngStyle]="{'width': setChartWidth()}" [style.display]="filerFullscreen?'none':'inline'">
            <span class="fileLegendItem" *ngFor="let fileItem of filesInLegend"
            [ngStyle]="{'background-color': fileItem.color}">{{fileItem.fileLabel}}</span>
         </div>
         </div>
         
          <!-- <div  [style]="{'width': '100px','margin': '5px'}">

          <div class="h100w50 visjs" [ngStyle]="{'width': setChartWidth()}" [style.display]="filerFullscreen?'none':'inline'">
            <div class="searchLocations max-50" style="display: flex; flex-direction: column; align-items: baseline; ">
      
            <div *ngIf="Options.showFileLegend" class="fixedOnTopOfComponent">
              <span class="fileLegendItem" *ngFor="let fileItem of filesInLegend"
                [ngStyle]="{'background-color': fileItem.color}">{{fileItem.fileLabel}}</span>
            </div>
            <div id="vis_element" style="height:100%" (click)="clickedChart($event)"></div>
          </div>
          </div>
        </div> -->
         
          <!-- <p-dropdown wtf [options]="dropdownLanguageSelection" (onChange)="setSelectedLanguage($event.value)"
            [style]="{'width': '100px','margin': '5px'}"></p-dropdown> -->
            
          <!-- <button *ngFor="let item of selectedLanguageRegexes" (click)="performSavedSearch(item)">{{item.name}}</button> -->
        
        <!-- <div style="text-align:end" style="pointer-events:auto">
          <span><input style="user-select: text; placeholder:'pattern'" class=" " type="text"
              [(ngModel)]="searchObject.pattern" (keypress)="performSearch($event)" style="width:80%"></span>
          <span><input placeholder='regex flags' class=" " type="text" [(ngModel)]="searchObject.flags"
              style="user-select: text; width: 40px" /></span>
          <span><button pTooltip="is regex search" [ngClass]="{'active': searchObject.isRegex===true}"
              (click)="searchObject.isRegex=!searchObject.isRegex"> (.*) </button></span>
        </div> -->
      </span>
      <span class="alignContentToCenter" style="padding-left:20px" style="pointer-events:auto">
        <!-- <div styling class="pads stylingPad columnarButtonsWrapper">
          <button (click)="showStylingElement($event.x, $event.y, !showNodeEditBox)" type="button"><i
              class="fa fa-paint-brush" aria-hidden="true"></i>
            <span class="caret"></span>
          </button>
        </div> -->
        <div class="columnarButtonsWrapper">
          <div chartAdditions style="display: flex; flex-direction: column" class="pads chartAdditions">
            <div>
              <button pTooltip="create file node" (click)="createFileNode()" class=" "><i class="far fa-plus-square"
                  aria-hidden="true"></i></button>
            </div>
            <div *ngFor="let shape of shapes" (click)="createShape(shape)">
              <button class=" ">
                <i [pTooltip]="shape.details.tooltip" [class]="shape.details.class" aria-hidden="true"></i>
              </button>
            </div>
            <div>
              <button pTooltip="link selected nodes. all nodes will be connected to last selected node"
                (click)="linkNodes({})" class=" ">
                <i class="fa fa-link" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="pads keypadAndButtons" keypadAndButtons>
           <div getSpecificFileNode>
            <button pTooltip="get sepecific file node" (click)="openFileVisible=true"
              style="padding: 5px; width: 60%; "><i class="fa fa-file-code-o left" aria-hidden="true"
                style="font-size: 20px"></i>
            </button>
          </div>
          <div>
            <button pTooltip="replace selected node with selection"
              (click)="Options.replaceClickedWithSelection = !Options.replaceClickedWithSelection"
              [ngClass]="{'active': Options.replaceClickedWithSelection}"><i class="fa fa-hand-o-right"
                aria-hidden="true"></i>
            </button>
          </div> 
           <div searchKeyboard class="pads keypad">
            <button style="width:50%; border: 1px solid; border-radius: 50px 50px 0px 0px;" class="fa fa-chevron-up"
              [ngClass]="{'active': Options.positioning===PositioningOptions.UP}"
              (click)="Options.positioning=PositioningOptions.UP"></button>
            <div style="display:flex; padding:5px">
              <span class="alignContentToCenter" style="display: flex">
                <button style="border: 1px solid; border-radius: 50px 0px 0px 50px;" class="fa fa-chevron-left"
                  [ngClass]="{'active': Options.positioning===PositioningOptions.LEFT}"
                  (click)="Options.positioning=PositioningOptions.LEFT"></button>
              </span>
              <span>
                <div>
                  <button pTooltip="search in entire folder" (click)="searchActions.totalSearch()" class=" "><i
                      class="fa fa-folder-o" aria-hidden="true"></i></button>
                  <button pTooltip="search in selected file" (click)="searchActions.searchSelectedFile()" class=" "><i
                      class="fa fa-file-o" aria-hidden="true">
                    </i></button>
                </div>
                <div>
                  <button pTooltip="search in selection content" (click)="searchActions.contentSearch()"
                    class=" ">(..)</button>
                  <button pTooltip="create match from selection" (click)="createMatchFromSelection()" class=" "><i
                      class="fa fa-hand-pointer-o" aria-hidden="true"></i>
                  </button>
                </div>
              </span>
              <span style="display: flex; " class="alignContentToCenter">
                <button class="fa fa-chevron-right" style="  border: 1px solid; border-radius: 0px 50px 50px 0px;"
                  [ngClass]="{'active': Options.positioning===PositioningOptions.RIGHT}"
                  (click)="Options.positioning=PositioningOptions.RIGHT"></button></span>
            </div>
            <button style="width:50%; border: 1px solid; border-radius: 0px 0px 50px 50px;" class="fa fa-chevron-down"
              [ngClass]="{'active': Options.positioning===PositioningOptions.DOWN}"
              (click)="Options.positioning=PositioningOptions.DOWN"></button>
          </div>
        </div>
      </span> 
   </div>
    <div class="searchLocations max-50" style="display: flex; flex-direction: column; align-items: baseline; ">
      <div class="pads dropup" style="pointer-events:auto">
        <button pTooltip="save diagram" (click)="saveJsonVisible = true">
          <i class="fa fa-download" aria-hidden="true"></i>/<i class="fa fa-cloud-download" aria-hidden="true"></i>
        </button>
        <button pTooltip="upload diagram" (click)="diagramsLoadDialog = true"><label style="margin: 0px"><i
              class="fa fa-upload" aria-hidden="true">
              <input id='fileLoadInput' type="file" (change)="loadFromFile($event)" />
            </i></label></button>
        <button pTooltip="load diagram" (click)="loadDiagramsTable()"><label style="margin: 0px"><i
              class="fa fa-cloud-upload" aria-hidden="true">
            </i></label></button>
        <button pTooltip="reload from code" (click)="reloadFromCode()" class="zoom"><i class="fa fa-refresh"
            aria-hidden="true"></i></button>
        <button pTooltip="Replace original text with new reloaded text for all un-matching items"
          (click)="clearFailedReloaded()" class="zoom"><i class="fa fa-check" aria-hidden="true"></i></button>
      </div>
      <div class="pads dropup" style="pointer-events:auto">
        <span>
          <p-dropdown wtf [options]="paths" (click)="pathDropdownClick($event)"
            (onChange)="setSelectedPath($event.value)" [filter]="true" [style]="{'width': '500px','margin': '5px'}">
          </p-dropdown>
        </span>
        <input placeholder='file pattern' type="text" [(ngModel)]="searchObject.filenamePattern"
          style="width: 150px;margin: 5px;" />
        <button [ngClass]="{'active': searchObject.isFileNameRegex===true}" pTooltip="is pattern regex"
          (click)="searchObject.isFileNameRegex=!searchObject.isFileNameRegex">
          (.*)
        </button>
        <button class="dropdown-toggle fa fa-cog" config type="button" data-toggle="dropdown"><span
            class="caret"></span></button>
        <ul class="dropdown-menu">
          <li>
            <input #customPath placeholder='custom path' (keyup)="setCustomPath($event) " type="text"
              style="width: 500px;margin: 5px;"
              [style.backgroundColor]="searchObject.dirPath===customPath.value ? 'lightpink' : ''" />
          </li>
          <li>
            <button [ngClass]="{'active': Options.showCodeLabels===true}" pTooltip="toggle match labels"
              (click)="toggleMatchNodesLabel()">
              Show Code Lines
            </button>
            <button [ngClass]="{'active': Options.showFileLegend===true}" pTooltip="toggle file legend"
              (click)="toggleFileLegend()">
              Show File Legend
            </button>
            <button [ngClass]="{'active': Options.keepChartOnLoadFromJson===true}"
              pTooltip="toggle show code lines on nodes" (click)="toggleReplaceChartWhenLoading()">
              Keep Chart When Loading
            </button>
            <button [ngClass]="{'active': Options.showInContentLines===true}" pTooltip="toggle in content lines"
              (click)="toggleInContentLines()">
              Show In Content
            </button>
            <br />
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div id="filer" class="filer"  (click)="showNodeEditBox=false">
    <div id="bordered" [ngStyle]="{'width': setFilerWidth()}" [style.display]="chartFullscreen?'none':'inline'">

      
      
       <button class="round-button">
          <i class ="fa" [ngClass]="(filerFullscreen) ? 'fa-compress' : 'fa-expand'" (click)="filerFullscreen=!filerFullscreen" aria-hidden="true"></i>
        </button>

        <button class="skewed">
          <img src="./../assets/icons/svg/CodeChart_Web_Icons__CodeChart Logo.svg">
  
        </button>
        
        <button class="round-button" pTooltip="Save Options" >
          <img src="./../assets/icons/svg/CodeChart_Web_Icons__Save Options.svg"> 
  
        </button>
         
   
        

        
         
      
     
         <span>
          <p-dropdown [options]="paths" (click)="pathDropdownClick($event)"
            (onChange)="setSelectedPath($event.value)" [filter]="true" [style]="{'width': '200px','margin': '5px'}" class="p-inputtext-sm">
          </p-dropdown>
        </span>
        <!-- <p-dropdown [options]="cars" [(ngModel)]="selectedCar2" [style]="{'width':'150px'}" filter="filter">
          <ng-template let-car pTemplate="item">
              <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                   <img src="assets/showcase/images/demo/car/{{car.label}}.png" style="width:24px;position:absolute;top:1px;left:5px"/>s
                  <div style="font-size:14px;float:right;margin-top:4px">{{car.label}}</div>
              </div>
          </ng-template>
      </p-dropdown> -->


           <span class="form-horizontal">
            <input type="text" name="..." 
                class="form-control" 
                placeholder="file pattern"
                style="width:200px;max-width:280px;display:inline-block" [(ngModel)]="searchObject.filenamePattern"/>
        
            <button [ngClass]="{'active': searchObject.isFileNameRegex===true}" pTooltip="is pattern regex"
            (click)="searchObject.isFileNameRegex=!searchObject.isFileNameRegex" type="submit" 
                class="btn" 
                style="margin-left:-50px;margin-top:-2px;min-height:36px;border-left: 0.5px solid #747575;
                ">
                <!-- <p>(.*)</p> -->
               <img  src="./../assets/icons/icon-regex.svg"> 
             </button>
            </span>
  
          

            <!-- <p-dropdown [options]="countries" [(ngModel)]="selectedCountry" optionLabel="name" [filter]="true" filterBy="name"
  placeholder="Select a Country">
  <ng-template pTemplate="selectedItem">
    <div class="country-item country-item-value" *ngIf="selectedCountry">
      <div>{{selectedCountry.name}}</div>
    </div>
  </ng-template>
  <ng-template let-country pTemplate="item">
    <div class="country-item">
      <div>{{country.name}}</div>
    </div>
  </ng-template>
</p-dropdown> -->
         
            <button style="border-left: 1px solid #747575;border-right: 1px solid #747575;border-bottom: 0px;border-top: 0px;background-color: transparent;" config type="button" data-toggle="dropdown" pTooltip="View Settings" >
              <img  src="./../assets/icons/svg/CodeChart_Web_Icons__View Settings Up.svg" >
            </button>
              
            <ul class="dropdown-menu">
              <li>
                <input #customPath placeholder='custom path' (keyup)="setCustomPath($event) " type="text"
                  style="width: 500px;margin: 5px;"
                  [style.backgroundColor]="searchObject.dirPath===customPath.value ? 'lightpink' : ''" />
              </li>
              <li>
                <button [ngClass]="{'active': Options.showCodeLabels===true}" pTooltip="toggle match labels"
                  (click)="toggleMatchNodesLabel()">
                  Show Code Lines
                </button>
                <button [ngClass]="{'active': Options.showFileLegend===true}" pTooltip="toggle file legend"
                  (click)="toggleFileLegend()">
                  Show File Legend
                </button>
                <button [ngClass]="{'active': Options.keepChartOnLoadFromJson===true}"
                  pTooltip="toggle show code lines on nodes" (click)="toggleReplaceChartWhenLoading()">
                  Keep Chart When Loading
                </button>
                <button [ngClass]="{'active': Options.showInContentLines===true}" pTooltip="toggle in content lines"
                  (click)="toggleInContentLines()">
                  Show In Content
                </button>
                <br />
              </li>
            </ul> 

           
            <button pTooltip="Reduce Text" (click)="codeEditor.decreaseFileContentFont()" class="zoom" class="round-button">
              <img src="./../assets/icons/svg/CodeChart_Web_Icons__Smaller Text.svg">
         
            </button>
            
             <button pTooltip="Enlarge Text" (click)="codeEditor.increaseFileContentFont()" class="zoom" class="round-button">
               <img src="./../assets/icons/svg/CodeChart_Web_Icons__Larger Text.svg">
         
              
            </button>
             
            <button class="round-button" pTooltip="Reload from Code" >
              <img src="./../assets/icons/svg/CodeChart_Web_Icons__Reload.svg"  (click)="reloadFromCode()">
      
            </button>
            <button class="round-button" pTooltip="Approve Changes" >
              <img src="./../assets/icons/svg/CodeChart_Web_Icons__Approve Changes.svg"  (click)="clearFailedReloaded()">
      
            </button>

      <code-viewer #aceEditor [appComponent]="this" [fileData]="currentFile"
        (selectionChange)="codeSelectionChange($event)"></code-viewer>
    </div>
    <div class="h100w50 visjs" id="filter" class="filer" [ngStyle]="{'width': setChartWidth()}" [style.display]="filerFullscreen?'none':'inline'" (click)="showNodeEditBox=false">
      <!-- <div id="filer" class="filer"  (click)="showNodeEditBox=false">
     -->
       <div class="pads dropup" style="pointer-events:auto">
     
      <p-dropdown wtf [options]="dropdownLanguageSelection" (onChange)="setSelectedLanguage($event.value)"
            [style]="{'width': '200px','margin': '5px'}"></p-dropdown>
            <span>
       <p-dropdown wtf [options]="dropdownLanguageRegexSelection" (onChange)="setSelectedLanguageRegex($event.value)"
            [style]="{'width': '160px'}">
          
          </p-dropdown>
          
      <!-- <button style="border: 1px solid #747575;background-color:#2d2d2d;height: 31.72px;"> -->
        <span style="border:1px solid #747575;background-color:#2d2d2d;height: 30px;width: 30px;text-align: center;margin-top: -2px;margin-left: -3px;">
        <img src="./../assets/icons/add.png">
      </span>
    
      <!-- </button> -->
    </span>
      </div> 
      
    </div>
    <!-- <div class="h100w50 visjs" [ngStyle]="{'width': setChartWidth()}" [style.display]="filerFullscreen?'none':'inline'">
      <div *ngIf="Options.showFileLegend" class="fixedOnTopOfComponent">
        <span class="fileLegendItem" *ngFor="let fileItem of filesInLegend"
          [ngStyle]="{'background-color': fileItem.color}">{{fileItem.fileLabel}}</span>
      </div>
      <div id="vis_element" style="height:100%" (click)="clickedChart($event)"></div>
    </div> -->
  </div>
  <div id='message_box'>
    <pre style="font-weight: bolder; font-size:40px">{{messageBoxQueue[0]?.title}}</pre>
    <div style="font-size:25px">{{messageBoxQueue[0]?.message}}</div>
  </div>
</div>
<p-dialog [contentStyle]="{'overflow':'visible'}" [(visible)]="openFileVisible" [width]="1500" [height]="500"
  (onShow)="focusOnFileOpenInput()">
  <p-header> Get File</p-header>
  <p-autoComplete #openfileInput [suggestions]="openFileSuggestions"
    (onSelect)="openFile($event); openFileVisible=false" (completeMethod)="filterAvailableFiles($event.query)"
    [delay]="0" [size]="120"></p-autoComplete>
</p-dialog>
<p-dialog [width]="400" [(visible)]="saveJsonVisible">
  <p-header> Save Diagram </p-header>
  <div> Story Name: </div>
  <input type="text" style="width:95%" [(ngModel)]="currentDiagramDetails.story" />
  <div> Description: </div>
  <textarea style="width:95%" [(ngModel)]="currentDiagramDetails.description"></textarea>
  <div> Project: </div>
  <input type="text" style="width:95%" [ngModel]="searchObject.dirPath" />
  <div *ngIf="filesInLegend.length>0"> Files: </div>
  <div style="display: flex; flex-wrap: wrap">
    <span class="fileLegendItem" *ngFor="let fileItem of filesInLegend"
      [ngStyle]="{'background-color': fileItem.color}">{{fileItem.fileLabel}}</span>
  </div>
  <p-footer>
    <div>
      <button type="button" (click)="saveJsonVisible=false">Cancel</button>
      <button type="button" (click)="jsonSave(); saveJsonVisible=false">Download</button>
    </div>
    <div>
      <button type="button" (click)="dbSave(true); saveJsonVisible=false">Save New</button>
      <button *ngIf="currentDiagramDetails.id" type="button" (click)="dbSave(false); saveJsonVisible=false">Update
        Selected</button>
    </div>
  </p-footer>
</p-dialog>
<p-dialog [(visible)]="showDiagramsLoadTable" [width]="1800">


  <input #gb type="text" pInputText placeholder="Search for any text or info in diagram"
    style="width:100%; margin: 10px">
  <p-dataTable [class]="'everything-tbl'" [globalFilter]="gb" selectionMode="single" expandableRows="true"
    [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]"
    (onRowSelect)="onSelectLoadTable($event)" (onFilter)="onLoadTableFilter($event)" [value]="diagramsList" >
    <p-column expander="true" [style]="{'width': '70px'}"></p-column>
    <p-column [class]="'td'" filterMatchMode="contains" field="story" filter="true" header="story"></p-column>
    <p-column filterMatchMode="contains" field="description" filter="true" header="Description" ></p-column>
    <p-column filterMatchMode="contains" field="type" filter="true" header="type"></p-column>
    <p-column filterMatchMode="contains" field="fileNames" filter="true" header="files"></p-column>
    <p-column filterMatchMode="contains" field="projects" filter="true" header="projects"></p-column>
    <p-column filterMatchMode="contains" field="labels" filter="true" header="labels"></p-column>
    <p-column filterMatchMode="contains" field="updatedAt" filter="true" header="updated">
      <ng-template let-col let-item="rowData" pTemplate="body">
        {{item[col.field] | date: 'medium'}}
    </ng-template>
    </p-column>
    <ng-template let-diagram pTemplate="rowexpansion">
      <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px">
          <div class="ui-grid-row">
              <div class="ui-grid-col-9">
                  <div class="ui-grid ui-grid-responsive ui-grid-pad">
                      <div class="ui-grid-row">
                          <div class="ui-grid-col-2 label">Story: </div>
                          <div class="ui-grid-col-10">{{diagram.story}}</div>
                      </div>
                      <div class="ui-grid-row">
                          <div class="ui-grid-col-2 label">Description: </div>
                          <div class="ui-grid-col-10">{{diagram.description}}</div>
                      </div>
                      <div class="ui-grid-row">
                          <div class="ui-grid-col-2 label">files: </div>
                          <div class="ui-grid-col-10">{{diagram.fileNames}}</div>
                      </div>
                      <div class="ui-grid-row">
                          <div class="ui-grid-col-2 label">projects: </div>
                          <div class="ui-grid-col-10">{{diagram.projects}}</div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </ng-template>
  </p-dataTable>
</p-dialog>

<p-dialog [(visible)]="showFindResults" [width]="1800">
  <p-header> Select Results (total {{findResults.totalMatchCount}} matches in {{findResults.findResults.length}} files)
  </p-header>
  <div class="noSelectedNodeInResults" *ngIf="!selectedNode"> NOTE: No node is selected. Result matches will appear in
    left position, and will not be connected to any nodes
  </div>
  <div style="height: 700px">
    <div style="height: 70%; border: 1px solid darkblue; padding: 1px; margin-bottom: 3px">
      <div style="height:100%; overflow: auto">
        <div>
          <p-checkbox [binary]="true" [ngModel]="allMatchesSelected" (onChange)="toggleSelectAllMatches()"></p-checkbox>
          <span>: All</span>
        </div>
        <div *ngFor="let fileResults of findResults.findResults; let i = index">
          <div>
            <p-checkbox [binary]="true" [ngModel]="fileResults?.selectedByUser"
              (onChange)="selectfileMatches($event, fileResults)"></p-checkbox>
            <span class="fileMatchInDialog">{{fileResults.file}}</span>
          </div>
          <div>
            <div class="matchInDialog" *ngFor="let match of fileResults?.matches">
              <p-checkbox [binary]="true" (onChange)="selectMatch($event, match, fileResults)"
                [ngModel]="match.selectedByUser"></p-checkbox>
              <span style="cursor: pointer" (click)="selectSearchResultForDisplay(fileResults, match)">
                <span>{{match.lineNumber}}: </span><span>{{match.line}}</span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="height: 30%; border: 1px solid darkblue; padding: 1px">
      <code-viewer #searchResultsCodeEditor [showTopBar]="false"></code-viewer>
    </div>
  </div>
  <p-footer>
    <button type="button" (click)="showFindResults=false">Cancel</button>
    <button type="button" (click)="loadFindResults(); showFindResults=false">Display</button>
  </p-footer>
</p-dialog>

 












