<div *ngIf="showNodeEditBox" class="stylingPopup" id='nodeStylePopup'>
  <textarea *ngIf="selectedNode" id='nodeTitleInput' [ngModel]="selectedNode?.label"
    (keyup)="setTitle($event)"></textarea>
  <node-styling [appComponent]="this"></node-styling>
 
</div>
<div class="main">
  <div *ngIf="!filerFullscreen" id="topbox" class="controls" style="pointer-events:none">
    <div generalActions class="generalActions" style="pointer-events:auto;">
       <ul style="display: inline;">
        <li style="display: inline-table;margin-top: 10%;"> 
          <button class="round-button">
      
            <i class="fas" [ngClass]="(filerFullscreen) ? 'fa-compress' : 'fa-expand'"
              (click)="filerFullscreen=!filerFullscreen" aria-hidden="true"></i>
          </button>
    
        </li>
        </ul>
     
    </div>
    
    <div class="searchButtons max-50">
      <!-- <span style="pointer-events:auto;"> -->
      <!-- <div style="padding-bottom:0px;"> -->
        <span *ngFor="let fileItem of filesInLegend;let i = index;" class="fileLegendItem_background"  [ngStyle]="setcolor(i)"> 
          <span  class="fileLegendItem" [ngStyle]="{'background-color': fileItem.color}">
            {{fileItem.fileLabel}} 
        </span>
        </span>
       
        <!-- <div class="h100" 
          [style.display]="filerFullscreen?'none':'inline'" [ngStyle]="{'width': setChartWidth(),'margin':'0px'}">
           <span *ngFor="let fileItem of filesInLegend;let i = index;" class="fileLegendItem_background"  [ngStyle]="setcolor(i)"> 
            <span  class="fileLegendItem" [ngStyle]="{'background-color': fileItem.color,'width':'auto'}">
              {{fileItem.fileLabel}} 
          </span>
          </span>
        </div> -->
      <!-- </div>
      </span> -->
      <!-- <span style="pointer-events:auto;">
      

      
      </span> -->
      <!-- <span class="alignContentToCenter" style="padding-left:20px" style="pointer-events:auto">
       
        <div class="columnarButtonsWrapper">
          <div chartAdditions style="display: flex; flex-direction: column" class="pads chartAdditions">
            <div>
              <button pTooltip="create file node" (click)="createFileNode()" class=" "><i class="far fa-plus-square"
                  aria-hidden="true"></i></button>
            </div>
            <div *ngFor="let shape of shapes" (click)="createShape(shape)">
              <button class=" ">
                <i [pTooltip]="shape.details.tooltip" [class]="shape.details.class" aria-hidden="true"></i>
              </button>
            </div>
            <div>
              <button pTooltip="link selected nodes. all nodes will be connected to last selected node"
                (click)="linkNodes({})" class=" ">
                <i class="fa fa-link" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="pads keypadAndButtons" keypadAndButtons>
          <div getSpecificFileNode>
            <button pTooltip="get sepecific file node" (click)="openFileVisible=true"
              style="padding: 5px; width: 60%; "><i class="fa fa-file-code-o left" aria-hidden="true"
                style="font-size: 20px"></i>
            </button>
          </div>
          <div>
            <button pTooltip="replace selected node with selection"
              (click)="Options.replaceClickedWithSelection = !Options.replaceClickedWithSelection"
              [ngClass]="{'active': Options.replaceClickedWithSelection}"><i class="fa fa-hand-o-right"
                aria-hidden="true"></i>
            </button>
          </div>
          <div searchKeyboard class="pads keypad">
            <button style="width:50%; border: 1px solid; border-radius: 50px 50px 0px 0px;" class="fa fa-chevron-up"
              [ngClass]="{'active': Options.positioning===PositioningOptions.UP}"
              (click)="Options.positioning=PositioningOptions.UP"></button>
            <div style="display:flex; padding:5px">
              <span class="alignContentToCenter" style="display: flex">
                <button style="border: 1px solid; border-radius: 50px 0px 0px 50px;" class="fa fa-chevron-left"
                  [ngClass]="{'active': Options.positioning===PositioningOptions.LEFT}"
                  (click)="Options.positioning=PositioningOptions.LEFT"></button>
              </span>
              <span>
                <div>
                  <button pTooltip="search in entire folder" (click)="searchActions.totalSearch()" class=" "><i
                      class="fa fa-folder-o" aria-hidden="true"></i></button>
                  <button pTooltip="search in selected file" (click)="searchActions.searchSelectedFile()" class=" "><i
                      class="fa fa-file-o" aria-hidden="true">
                    </i></button>
                </div>
                <div>
                  <button pTooltip="search in selection content" (click)="searchActions.contentSearch()"
                    class=" ">(..)</button>
                  <button pTooltip="create match from selection" (click)="createMatchFromSelection()" class=" "><i
                      class="fa fa-hand-pointer-o" aria-hidden="true"></i>
                  </button>
                </div>
              </span>
              <span style="display: flex; " class="alignContentToCenter">
                <button class="fa fa-chevron-right" style="  border: 1px solid; border-radius: 0px 50px 50px 0px;"
                  [ngClass]="{'active': Options.positioning===PositioningOptions.RIGHT}"
                  (click)="Options.positioning=PositioningOptions.RIGHT"></button></span>
            </div>
            <button style="width:50%; border: 1px solid; border-radius: 0px 0px 50px 50px;" class="fa fa-chevron-down"
              [ngClass]="{'active': Options.positioning===PositioningOptions.DOWN}"
              (click)="Options.positioning=PositioningOptions.DOWN"></button>
          </div>
        </div>
      </span> -->
    </div>
    <!-- <div class="searchLocations max-50" style="display: flex; flex-direction: column; align-items: baseline; ">
      <div class="pads dropup" style="pointer-events:auto">
        <button pTooltip="save diagram" (click)="saveJsonVisible = true">
          <i class="fa fa-download" aria-hidden="true"></i>/<i class="fa fa-cloud-download" aria-hidden="true"></i>
        </button>
         <button pTooltip="upload diagram" (click)="diagramsLoadDialog = true"><label style="margin: 0px"><i
              class="fa fa-upload" aria-hidden="true">
              <input id='fileLoadInput' type="file" (change)="loadFromFile($event)" />
            </i></label></button> 
        <button pTooltip="load diagram" (click)="loadDiagramsTable()"><label style="margin: 0px"><i
              class="fa fa-cloud-upload" aria-hidden="true">
            </i></label></button>
        <button pTooltip="reload from code" (click)="reloadFromCode()" class="zoom"><i class="fa fa-refresh"
            aria-hidden="true"></i></button>
        <button pTooltip="Replace original text with new reloaded text for all un-matching items"
          (click)="clearFailedReloaded()" class="zoom"><i class="fa fa-check" aria-hidden="true"></i></button>
      </div>
      <div class="pads dropup" style="pointer-events:auto">
        <span>
          <p-dropdown wtf [options]="paths"  (click)="pathDropdownClick($event)"
            (onChange)="setSelectedPath($event.value)" [filter]="true" [style]="{'width': '500px','margin': '5px'}">

          </p-dropdown> 
        </span>


        <input placeholder='file pattern' type="text" [(ngModel)]="searchObject.filenamePattern"
          style="width: 150px;margin: 5px;" />
        <button [ngClass]="{'active': searchObject.isFileNameRegex===true}" pTooltip="is pattern regex"
          (click)="searchObject.isFileNameRegex=!searchObject.isFileNameRegex">
          (.*)
        </button>
        <button class="dropdown-toggle fa fa-cog" config type="button" data-toggle="dropdown"><span
            class="caret"></span></button>
        <ul class="dropdown-menu">
          <li>
            <input #customPath placeholder='custom path' (keyup)="setCustomPath($event) " type="text"
              style="width: 500px;margin: 5px;"
              [style.backgroundColor]="searchObject.dirPath===customPath.value ? 'lightpink' : ''" />
          </li>
          <li>
            <button [ngClass]="{'active': Options.showCodeLabels===true}" pTooltip="toggle match labels"
              (click)="toggleMatchNodesLabel()">
              Show Code Lines
            </button>
            <button [ngClass]="{'active': Options.showFileLegend===true}" pTooltip="toggle file legend"
              (click)="toggleFileLegend()">
              Show File Legend
            </button>
            <button [ngClass]="{'active': Options.keepChartOnLoadFromJson===true}"
              pTooltip="toggle show code lines on nodes" (click)="toggleReplaceChartWhenLoading()">
              Keep Chart When Loading
            </button>
            <button [ngClass]="{'active': Options.showInContentLines===true}" pTooltip="toggle in content lines"
              (click)="toggleInContentLines()">
              Show In Content
            </button>
            <br />
          </li>
        </ul>
      </div>
    </div> -->
  </div>
  <div id="filer" class="filer">
     <div id="bordered" [ngStyle]="{'width': setFilerWidth()}" [style.display]="chartFullscreen?'none':'inline'">

     <ul   [style.display]="chartFullscreen?'none':'inline'" [ngStyle]="{'width': setFilerWidth(),'vertical-align':'middle'}">
          <li style="display: inline-table;"> 
            <button class="round-button">
        
              <i class="fas" [ngClass]="(filerFullscreen) ? 'fa-compress' : 'fa-expand'"
                (click)="filerFullscreen=!filerFullscreen" aria-hidden="true"></i>
            </button>
      
          </li>
          <li style="display: inline-table;"> 
            <span class="skewed">
              <img src="./../assets/icons/dark/Dark Theme Icons__CodeChart Logo.png" style="margin-left: 6px;margin-top: 5px;">
    
            
            </span>
    
      
          </li>

          <li style="display: inline-table;"> 
            <button class="round-button" pTooltip="Save Options">
              <i class="fas fa-bars" 
              id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
         
              <ul class="dropdown-menu" (click)="preventClose($event)"
                style="background-color:var(--background-secondary);width: 180px;height:240px">
                <li style="margin-left: 10px;margin-right: 10px;"><a (click)="saveJsonVisible = true" style="color:var(--foreground-default);"><img
                      src="./../assets/icons/svg/CodeChart_Web_Icons__Save Download to Cloud.svg">
                    Download/Save</a></li>
                <li style="margin-left: 10px;margin-right: 10px;"><a (click)="loadDiagramsTable()" style="color:var(--foreground-default);"><img
                      src="./../assets/icons/svg/CodeChart_Web_Icons__Load from Cloud.svg">
                    Load</a></li>
                <li style="margin-left: 10px;margin-right: 10px;"><a (click)="saveJsonVisible = true" style="color:var(--foreground-default);"><img
                      src="./../assets/icons/svg/CodeChart_Web_Icons__Download.svg">
                    Download</a></li>
                  <li style="margin-left: 10px;margin-right: 10px;" pTooltip="upload diagram"><a (click)="diagramsLoadDialog = true" style="color: var(--foreground-default);">
                     <img
                      src="./../assets/icons/svg/CodeChart_Web_Icons__Upload.svg">
                    <input #fileLoadInput id='fileLoadInput' type="file" (change)="loadFromFile($event)" /> 
                    Upload</a>
                   </li>
                <li style="margin-left: 10px;margin-right: 10px;"><a href="#" style="color: var(--foreground-default);"><img
                      src="./../assets/icons/svg/CodeChart_Web_Icons__Import.svg">
                    Import</a></li>
                <li style="margin-left: 10px;margin-right: 10px;"><a href="#" style="color: var(--foreground-default);"><img
                      src="./../assets/icons/svg/CodeChart_Web_Icons__Export.svg">
                    Export</a></li>
                <div class="dropdown-divider"></div>
                <li style="text-align: center;margin-top: -10px;">
                  <i class="fa fa-angle-up"></i>
                </li>
              </ul>
      
            </button>
      
          </li>
          <li style="display: inline-table;"> 
              <p-dropdown [options]="paths" (click)="pathDropdownClick($event)" (onChange)="setSelectedPath($event.value)"
               [filter]="true" [style]="{'width': '200px','display':'inline-block'}">
     
             </p-dropdown> 
      
          </li>
          <li style="display: inline-table;"> 
            <span>
              <input type="text" name="..." class="form-control" placeholder="file pattern"
                style="width:200px;max-width:280px;display:inline-block" [(ngModel)]="searchObject.filenamePattern"/>
      
              <button [ngClass]="{'active': searchObject.isFileNameRegex===true}" pTooltip="is pattern regex"
                (click)="searchObject.isFileNameRegex=!searchObject.isFileNameRegex" type="submit" class="btn" style="margin-left:-60px;margin-top:0px;min-height:36px;border-left: 0.5px solid var(--background-quaternary);color:var(--background-secondary);">(.*)</button>
            </span>
      
          </li>
          <li style="display: inline-table;"> 
            <span style="border-right: 1px solid var(--foreground-tertiary);">
              <button class="parent round-button" style="margin-bottom: 0px;" pTooltip="View Settings"
              >
                <img src="./../assets/icons/dark/Dark Theme Icons__View Settings Closed.png">
        
                <div class="element">
                  <app-dropdown [options]="view_settings"  (ItemClickEvent)='ClickSearchActionsItem($event)' icon="./../assets/icons/dark/Dark Theme Icons__Menu Arrows Down.png">
           
                  </app-dropdown>
                
        
                </div>
              </button>
            </span>
      
          </li>
          <li style="display: inline-table;"> 
            <ul class="dropdown-menu">
              <li>
                <input #customPath placeholder='custom path' (keyup)="setCustomPath($event) " type="text"
                  style="width: 500px;margin: 5px;"
                  [style.backgroundColor]="searchObject.dirPath===customPath.value ? 'lightpink' : ''" />
              </li>
              <li>
                <button [ngClass]="{'active': Options.showCodeLabels===true}" pTooltip="toggle match labels"
                  (click)="toggleMatchNodesLabel()">
                  Show Code Lines
                </button>
                <button [ngClass]="{'active': Options.showFileLegend===true}" pTooltip="toggle file legend"
                  (click)="toggleFileLegend()">
                  Show File Legend
                </button>
                <button [ngClass]="{'active': Options.keepChartOnLoadFromJson===true}"
                  pTooltip="toggle show code lines on nodes" (click)="toggleReplaceChartWhenLoading()">
                  Keep Chart When Loading
                </button>
                <button [ngClass]="{'active': Options.showInContentLines===true}" pTooltip="toggle in content lines"
                  (click)="toggleInContentLines()">
                  Show In Content
                </button>
                <br />
              </li>
            </ul>
      
          </li>
          <li style="display: inline-table;"> 
            <button pTooltip="Reduce Text" (click)="codeEditor.decreaseFileContentFont()" class="zoom" class="round-button">
              <img src="./../assets/icons/dark/Dark Theme Icons__Reduce Text Size.png">
      
            </button>
      
           
      
          </li>
          <li style="display: inline-table;"> 
            <button pTooltip="Enlarge Text" (click)="codeEditor.increaseFileContentFont()" class="zoom" class="round-button">
              <img src="./../assets/icons/dark/Dark Theme Icons__Increase Text Size.png">
      
      
            </button>
      
      
          </li>
          <li style="display:inline-table;"> 
            <button class="round-button" pTooltip="Reload from Code">
              <img src="./../assets/icons/dark/Dark Theme Icons__Reload.png" (click)="reloadFromCode()">
      
            </button>
           
          </li>
          <li style="display: inline-table;">
          <button class="round-button" pTooltip="Approve Changes">
            <img src="./../assets/icons/dark/Dark Theme Icons__Approve Changes.png" (click)="clearFailedReloaded()">
    
          </button>
           </li>

          <code-viewer #aceEditor [appComponent]="this" [fileData]="currentFile"
          (selectionChange)="codeSelectionChange($event)"></code-viewer>
  

     </ul>

      <!-- <button class="round-button">
        
        <i class="fas" [ngClass]="(filerFullscreen) ? 'fa-compress' : 'fa-expand'"
          (click)="filerFullscreen=!filerFullscreen" aria-hidden="true"></i>
      </button>

      <span class="skewed">
          <img src="./../assets/icons/dark/Dark Theme Icons__CodeChart Logo.png" style="margin-left: 6px;margin-top: 5px;">

        
        </span>

      <button class="round-button" pTooltip="Save Options">
        <img src="./../assets/icons/dark/Dark Theme Icons__Save Options.png" class="dropdown-toggle"
          id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

        <ul class="dropdown-menu" (click)="preventClose($event)"
          style="background-color:var(--background-secondary);width: 180px;height:240px">
          <li style="margin-left: 10px;margin-right: 10px;"><a (click)="saveJsonVisible = true" style="color:var(--foreground-default);"><img
                src="./../assets/icons/svg/CodeChart_Web_Icons__Save Download to Cloud.svg">
              Download/Save</a></li>
          <li style="margin-left: 10px;margin-right: 10px;"><a (click)="loadDiagramsTable()" style="color:var(--foreground-default);"><img
                src="./../assets/icons/svg/CodeChart_Web_Icons__Load from Cloud.svg">
              Load</a></li>
          <li style="margin-left: 10px;margin-right: 10px;"><a (click)="saveJsonVisible = true" style="color:var(--foreground-default);"><img
                src="./../assets/icons/svg/CodeChart_Web_Icons__Download.svg">
              Download</a></li>
            <li style="margin-left: 10px;margin-right: 10px;" pTooltip="upload diagram"><a (click)="diagramsLoadDialog = true" style="color: var(--foreground-default);">
               <img
                src="./../assets/icons/svg/CodeChart_Web_Icons__Upload.svg">
              <input #fileLoadInput id='fileLoadInput' type="file" (change)="loadFromFile($event)" /> 
              Upload</a>
             </li>
          <li style="margin-left: 10px;margin-right: 10px;"><a href="#" style="color: var(--foreground-default);"><img
                src="./../assets/icons/svg/CodeChart_Web_Icons__Import.svg">
              Import</a></li>
          <li style="margin-left: 10px;margin-right: 10px;"><a href="#" style="color: var(--foreground-default);"><img
                src="./../assets/icons/svg/CodeChart_Web_Icons__Export.svg">
              Export</a></li>
          <div class="dropdown-divider"></div>
          <li style="text-align: center;margin-top: -10px;">
            <i class="fa fa-angle-up"></i>
          </li>
        </ul>

      </button>
      <span class="horizantal-list">

      <span>
         <p-dropdown [options]="paths" (click)="pathDropdownClick($event)" (onChange)="setSelectedPath($event.value)"
          [filter]="true" [style]="{'width': '200px','display':'inline-block'}">

        </p-dropdown> 
        

      </span>



      <span>
        <input type="text" name="..." class="form-control" placeholder="file pattern"
          style="width:200px;max-width:280px;display:inline-block" [(ngModel)]="searchObject.filenamePattern"/>

        <button [ngClass]="{'active': searchObject.isFileNameRegex===true}" pTooltip="is pattern regex"
          (click)="searchObject.isFileNameRegex=!searchObject.isFileNameRegex" type="submit" class="btn" style="margin-left:-60px;margin-top:0px;min-height:36px;border-left: 0.5px solid var(--background-quaternary);color:var(--background-secondary);">(.*)</button>
      </span>

    </span>


     


      <span style="border-right: 1px solid var(--foreground-tertiary);">
        <button class="parent round-button" style="margin-bottom: 0px;" pTooltip="View Settings"
        >
          <img src="./../assets/icons/dark/Dark Theme Icons__View Settings Closed.png">
  
          <div class="element">
            <app-dropdown [options]="view_settings"  (ItemClickEvent)='ClickSearchActionsItem($event)' icon="./../assets/icons/dark/Dark Theme Icons__Menu Arrows Down.png">
     
            </app-dropdown>
          
  
          </div>
        </button>
      </span>
    

      <ul class="dropdown-menu">
        <li>
          <input #customPath placeholder='custom path' (keyup)="setCustomPath($event) " type="text"
            style="width: 500px;margin: 5px;"
            [style.backgroundColor]="searchObject.dirPath===customPath.value ? 'lightpink' : ''" />
        </li>
        <li>
          <button [ngClass]="{'active': Options.showCodeLabels===true}" pTooltip="toggle match labels"
            (click)="toggleMatchNodesLabel()">
            Show Code Lines
          </button>
          <button [ngClass]="{'active': Options.showFileLegend===true}" pTooltip="toggle file legend"
            (click)="toggleFileLegend()">
            Show File Legend
          </button>
          <button [ngClass]="{'active': Options.keepChartOnLoadFromJson===true}"
            pTooltip="toggle show code lines on nodes" (click)="toggleReplaceChartWhenLoading()">
            Keep Chart When Loading
          </button>
          <button [ngClass]="{'active': Options.showInContentLines===true}" pTooltip="toggle in content lines"
            (click)="toggleInContentLines()">
            Show In Content
          </button>
          <br />
        </li>
      </ul>


      <button pTooltip="Reduce Text" (click)="codeEditor.decreaseFileContentFont()" class="zoom" class="round-button">
        <img src="./../assets/icons/dark/Dark Theme Icons__Reduce Text Size.png">

      </button>

     

      <button pTooltip="Enlarge Text" (click)="codeEditor.increaseFileContentFont()" class="zoom" class="round-button">
        <img src="./../assets/icons/dark/Dark Theme Icons__Increase Text Size.png">


      </button>

      <button class="round-button" pTooltip="Reload from Code">
        <img src="./../assets/icons/dark/Dark Theme Icons__Reload.png" (click)="reloadFromCode()">

      </button>
      <button class="round-button" pTooltip="Approve Changes">
        <img src="./../assets/icons/dark/Dark Theme Icons__Approve Changes.png" (click)="clearFailedReloaded()">

      </button>

      <code-viewer #aceEditor [appComponent]="this" [fileData]="currentFile"
        (selectionChange)="codeSelectionChange($event)"></code-viewer> -->
    </div>
  
    <div class="h100w50 visjs" id="filter" class="filer" [ngStyle]="{'width': setChartWidth()}"
      [style.display]="filerFullscreen?'none':'inline'">
      <div id="filer" class="filer">
    
      <!-- <div class="pads dropup" style="pointer-events:auto;width: 100%;"> -->
        <ul   class="pads inline" style="pointer-events:auto;width: 100%;">
          <li style="display: inline-table;"> 
     
           <p-dropdown  [options]="dropdownLanguageSelection" (onChange)="setSelectedLanguage($event.value)"
          [style]="{'width': 'auto'}"></p-dropdown>
      
       </li>
       <li style="display: inline-table;"> 
     
        <p-dropdown wtf [options]="dropdownLanguageRegexSelection" (onChange)="setSelectedLanguageRegex($event.value)"
          [style]="{'width': 'auto'}">

        </p-dropdown>
      </li>
      <li style="display: inline-table;"> 
     
        <span
          style="border:1px solid var(--foreground-tertiary);color:var(--foreground-default);background-color:var(--background-default);height: 30px;width: 30px;text-align: center;margin-top: -2px;margin-left: -3px;">
          
          <i class="fa fa-plus"
                aria-hidden="true"></i>
        </span>
        
        </li>
        <li style="display: inline-table;"> 
     
        <span style="border-right: 1px solid var(--foreground-tertiary);">
        <button class="edit_btn">
          <i class="fas fa-pencil-alt"></i>
       
        </button>
      </span>
      </li>


      <li style="display: inline-table;"> 
      <span style="border-right: 1px solid var(--foreground-tertiary);">
      <span class="round-button" pTooltip="Search Actions"
        (click)="fitAllNodesOnScreen()" >
        <img src="./../assets/icons/dark/Dark Theme Icons__Get File Node.png" class="filer_img">

        <div class="element">
            <app-dropdown (ItemClickEvent)='ClickSearchActionsItem($event)' [options]="view_actions" icon="./../assets/icons/dark/Dark Theme Icons__Menu Arrow Down.png">     
            </app-dropdown>

        </div>
      </span>
    </span>
    </li>

    <li style="display: inline-table;"> 
     <span style="border-right: 1px solid var(--foreground-tertiary);">
       <span class="parent round-button" pTooltip="Diagram Actions"
        (click)="fitAllNodesOnScreen()">
        <img src="./../assets/icons/dark/Dark Theme Icons__Link Nodes.png" class="filer_img">

        <div class="element">
            <app-dropdown [options]="diagram_actions" icon="./../assets/icons/dark/Dark Theme Icons__Menu Arrow Down.png">
     
            </app-dropdown>
          

        </div>
      </span> 
      </span>
      </li>

      <li style="display: inline-table;"> 
      <span style="border-right: 1px solid var(--foreground-tertiary);">
       <div style="overflow: hidden" style="margin-left: 5px;margin-right: 5px;">
        
        <div style=" float:left; padding-bottom:1000px; margin-bottom:-1000px">
          <img src="./../assets/icons/dark/Dark Theme Icons__Add to Top Selected.png" pTooltip="Add to Top"
            style="margin-top: 15px;" [ngClass]="{'active': Options.positioning===PositioningOptions.UP}"
            (click)="Options.positioning=PositioningOptions.UP">
          <br />
          <img src="./../assets/icons/dark/Dark Theme Icons__Add to Bottom.png" pTooltip="Add to Bottom"
            style="margin-top: -15px;" [ngClass]="{'active': Options.positioning===PositioningOptions.DOWN}"
            (click)="Options.positioning=PositioningOptions.DOWN">
        </div>
        <div style="float:left; padding-bottom:800px; margin-bottom:-800px;margin-left: 5px;">
          <img src="./../assets/icons/dark/Dark Theme Icons__Add to Left.png" pTooltip="Add to Left"
            style="margin-top: 20px;" [ngClass]="{'active': Options.positioning===PositioningOptions.LEFT}"
            (click)="Options.positioning=PositioningOptions.LEFT">


        </div>
        <img src="./../assets/icons/dark/Dark Theme Icons__Add to Right.png" pTooltip="Add to Right"
          style="margin-left: 5px;margin-top: 20px;"  [ngClass]="{'active': Options.positioning===PositioningOptions.RIGHT}"
          (click)="Options.positioning=PositioningOptions.RIGHT">

      </div> 
      </span>
       </li>
     
     
       <li style="display: inline-table;">
       <span class="round-button" pTooltip="fit all" (click)="fitAllNodesOnScreen()">
        <img src="./../assets/icons/dark/Dark Theme Icons__Fit All.png" class="filer_img">
       </span>
       </li>

       <li style="display: inline-table;"> 
      <span class="round-button" pTooltip="undo" (click)="undo()">
        <img src="./../assets/icons/dark/Dark Theme Icons__Undo.png" class="filer_img">
      </span>
      </li>

      <li style="display: inline-table;"> 
      <span style="border-right: 1px solid var(--foreground-tertiary);">
      <span class="round-button" pTooltip="Clear">
        <img src="./../assets/icons/dark/Dark Theme Icons__Clear.png" class="filer_img">

      </span>
    </span>
    </li>
     
    <li style="display: inline-table;"> 
      <span style="border-right: 1px solid var(--foreground-tertiary);">
      <span class="parent round-button" pTooltip="Edit Diagram"
      (click)="showStylingElement($event.x, $event.y, !showNodeEditBox)" >
        <img src="./../assets/icons/dark/Dark Theme Icons__Edit Diagram Up.png">

        <div class="element">
          <i class="fas fa-angle-double-down icon_arrow">

          </i>

        </div>
      </span>
    </span>
    </li>
   </ul>

   

        
      <!-- </div> -->
      <div id="vis_element" style="height:100%" (click)="clickedChart($event)"></div>

    </div>
  
  </div>
  <div id='message_box'>
    <pre style="font-weight: bolder; font-size:40px"><i class="fas fa-warning" style="margin-right: 10px;"></i>{{messageBoxQueue[0]?.title}}</pre>
    <div style="font-size:18px;color:#575757;;">{{messageBoxQueue[0]?.message}}</div>
    <div>
    <button type="button" class="btn_style" style="width: 70px;height: 30px;float: right;">okay</button>
    </div>
  </div>
</div>
<p-dialog [contentStyle]="{'overflow':'visible'}" [(visible)]="openFileVisible" [width]="1500" [height]="500"
  (onShow)="focusOnFileOpenInput()">
  <p-header> Get File</p-header>
  <p-autoComplete #openfileInput [suggestions]="openFileSuggestions"
    (onSelect)="openFile($event); openFileVisible=false" (completeMethod)="filterAvailableFiles($event.query)"
    [delay]="0" [size]="120"  [inputStyle]="{'background-color':'var(--background-dark)'}"></p-autoComplete>
    <div style="height: 350px;color:var(--foreground-default);background-color:transparent;">
      
      
      <tree-root [nodes]="objects" [options]="options"  (click)="onEvent($event)"></tree-root>
      
    </div>
   
</p-dialog>
<p-dialog [width]="500" [(visible)]="saveJsonVisible">
  <p-header> Save Diagram </p-header>
  <div> Story Name: </div>
  <input type="text" placeholder="The Best Story Ever" style="width:95%;border-radius: 5px;border: 1px solid var(--foreground-dark);"  [(ngModel)]="currentDiagramDetails.story" />
  <div> Description: </div>
  <textarea style="width:95%;height: 100px;border-radius: 5px;border: 1px solid var(--foreground-dark);background-color: var(--background-default);" [(ngModel)]="currentDiagramDetails.description"></textarea>
  <div> Project: </div>
  <input type="text" style="width:95%;border-radius: 5px;border: 1px solid var(--foreground-dark)" [ngModel]="searchObject.dirPath" />
  <!-- <div *ngIf="filesInLegend.length>0"> Files: </div>
  <div style="display: flex; flex-wrap: wrap">
    <span class="fileLegendItem" *ngFor="let fileItem of filesInLegend"
      [ngStyle]="{'background-color': fileItem.color}">{{fileItem.fileLabel}}</span>
  </div> -->
  <div style="margin-top: 15px;">
    <button type="button" class="btn_style" (click)="jsonSave(); saveJsonVisible=false">Download</button>
    <button *ngIf="currentDiagramDetails.id" type="button" class="btn_style" (click)="dbSave(false); saveJsonVisible=false">Update
      Selected</button>
    <button type="button" class="btn_style" (click)="dbSave(true); saveJsonVisible=false">Save New</button>
      <button type="button"  class="btn_style" (click)="saveJsonVisible=false">Cancel</button>
   
  </div>
  <!-- <p-footer>
    <div>
      <button type="button" (click)="saveJsonVisible=false">Cancel</button>
      <button type="button" (click)="jsonSave(); saveJsonVisible=false">Download</button>
    </div>
    <div>
      <button type="button" (click)="dbSave(true); saveJsonVisible=false">Save New</button>
      <button *ngIf="currentDiagramDetails.id" type="button" (click)="dbSave(false); saveJsonVisible=false">Update
        Selected</button>
    </div>
  </p-footer> -->
</p-dialog>
<p-dialog [(visible)]="showDiagramsLoadTable" [width]="1800">


  <input #gb type="text" pInputText placeholder="Search for any text or info in diagram"
    style="width:100%; margin: 10px">
  <p-dataTable [class]="'everything-tbl'" [globalFilter]="gb" selectionMode="single" expandableRows="true" [rows]="10"
    [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" (onRowSelect)="onSelectLoadTable($event)"
    (onFilter)="onLoadTableFilter($event)" [value]="diagramsList">
    <p-column expander="true" [style]="{'width': '70px'}"></p-column>
    <p-column [class]="'td'" filterMatchMode="contains" field="story" filter="true" header="story"></p-column>
    <p-column filterMatchMode="contains" field="description" filter="true" header="Description"></p-column>
    <p-column filterMatchMode="contains" field="type" filter="true" header="type"></p-column>
    <p-column filterMatchMode="contains" field="fileNames" filter="true" header="files"></p-column>
    <p-column filterMatchMode="contains" field="projects" filter="true" header="projects"></p-column>
    <p-column filterMatchMode="contains" field="labels" filter="true" header="labels"></p-column>
    <p-column filterMatchMode="contains" field="updatedAt" filter="true" header="updated">
      <ng-template let-col let-item="rowData" pTemplate="body">
        {{item[col.field] | date: 'medium'}}
      </ng-template>
    </p-column>
    <ng-template let-diagram pTemplate="rowexpansion">
      <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px">
        <div class="ui-grid-row">
          <div class="ui-grid-col-9">
            <div class="ui-grid ui-grid-responsive ui-grid-pad">
              <div class="ui-grid-row">
                <div class="ui-grid-col-2 label">Story: </div>
                <div class="ui-grid-col-10">{{diagram.story}}</div>
              </div>
              <div class="ui-grid-row">
                <div class="ui-grid-col-2 label">Description: </div>
                <div class="ui-grid-col-10">{{diagram.description}}</div>
              </div>
              <div class="ui-grid-row">
                <div class="ui-grid-col-2 label">files: </div>
                <div class="ui-grid-col-10">{{diagram.fileNames}}</div>
              </div>
              <div class="ui-grid-row">
                <div class="ui-grid-col-2 label">projects: </div>
                <div class="ui-grid-col-10">{{diagram.projects}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataTable>
</p-dialog>

<p-dialog [(visible)]="showFindResults" [width]="1800">
  <p-header> Select Results (total {{findResults.totalMatchCount}} matches in {{findResults.findResults.length}} files)
  </p-header>
  <div class="noSelectedNodeInResults" *ngIf="!selectedNode"> NOTE: No node is selected. Result matches will appear in
    left position, and will not be connected to any nodes
  </div>
  <div style="height: 700px">
    <div style="height: 70%; border: 1px solid darkblue; padding: 1px; margin-bottom: 3px">
      <div style="height:100%; overflow: auto">
        <div>
          <p-checkbox [binary]="true" [ngModel]="allMatchesSelected" (onChange)="toggleSelectAllMatches()"></p-checkbox>
          <span>: All</span>
        </div>
        <div *ngFor="let fileResults of findResults.findResults; let i = index">
          <div>
            <p-checkbox [binary]="true" [ngModel]="fileResults?.selectedByUser"
              (onChange)="selectfileMatches($event, fileResults)"></p-checkbox>
            <span class="fileMatchInDialog">{{fileResults.file}}</span>
          </div>
          <div>
            <div class="matchInDialog" *ngFor="let match of fileResults?.matches">
              <p-checkbox [binary]="true" (onChange)="selectMatch($event, match, fileResults)"
                [ngModel]="match.selectedByUser"></p-checkbox>
              <span style="cursor: pointer" (click)="selectSearchResultForDisplay(fileResults, match)">
                <span>{{match.lineNumber}}: </span><span>{{match.line}}</span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="height: 30%; border: 1px solid darkblue; padding: 1px">
      <code-viewer #searchResultsCodeEditor [showTopBar]="false"></code-viewer>
    </div>
  </div>
  <p-footer>
    <button type="button" (click)="showFindResults=false">Cancel</button>
    <button type="button" (click)="loadFindResults(); showFindResults=false">Display</button>
  </p-footer>
</p-dialog>
