<div>
  <i class="fas fa-angle-double-down icon"
  id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  </i>
  

<ul class="dropdown-menu dropdown_margin_ul">
  <li *ngFor="let item of options;let i = index">
    <span *ngIf="item.toggled">
    <a  (click)="ClickItem(item.name,i)">
    <button class="round-button">
      <img src={{item.icon}}>
      
    </button>
      {{item.name}} 
    </a>
    <hr>
    </span>
    <span *ngIf="item.toggled == false">
      <a  (click)="ClickItem(item.name,i)">
      <button class="round-button">
        <img src={{item.icon}}>
        
      </button>
        {{item.name}} 
      </a>
      </span>
    </li>
 
  <div class="dropdown-divider"></div>
  <li>
    <img src="./../assets/icons/dark/Dark Theme Icons__Add to Top.png">
  </li>
</ul>
</div>