// .dropdown{
//     position: relative;
//     float: right;
//   }
//   .dropdown .opened .dropdown-menu {
//         display: block;
//     }
  
//   .dropdown .dropdown-menu {
//       display: none;
//       right: 0;
//       position: absolute;
//       min-width: 160px;
//   }



.dropdown_margin_ul{
    background-image:linear-gradient(to right,var(--background-secondary) , #727272);
    width: auto;
    height:auto;
    row-gap: 10px;

}
.dropdown_margin_ul li{
    margin-left: 5px;
    margin-top: 10px;
   

}
.dropdown_margin_ul li a{
    color: var(--foreground-default);
    font-size: small;
}

.dropdown_margin_ul li:nth-last-child(-n + 3)
{
  row-gap: 0px;
  margin-bottom: 0px;
  
}
.dropdown_margin_ul li:last-child{
    margin-top: -20px;
    text-align: center;
   
}

.dropdown_margin_ul li:last-child img{
    color: var(--foreground-default);
    vertical-align: bottom;
     
}
.dropdown_margin_ul li:last-child img:hover{
    background-color: var(--background-default);
    vertical-align: bottom;
     
}
    
.round-button {
    min-width: 40px;
    max-width: 80px;
    text-decoration: none;
    display: inline-block;
    outline: none;
    cursor: pointer;
    border-style: none;
    color: var(--foreground-default);
    background-color:var(--background-secondary);
    border-radius: 100%;
    border: 1px solid var(--background-dark);
    overflow: none;
    text-align: center;
    padding: 0;
    margin-right: 5px;
    margin-bottom: 5px;
    height: 40px;
}
.round-button:hover{
    background-color:var(--foreground-dark);
    border: 1px solid var(--foreground-default);
   
}