<div>
<img src={{icon}} class="dropdown-toggle"
id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

<ul class="dropdown-menu dropdown_margin_ul">
  <li *ngFor="let item of options"><a  (click)="ClickItem(item.name)">
    <button class="round-button">
      <img src={{item.icon}}>
      
    </button>
      {{item.name}}</a>
    </li>
 
  <div class="dropdown-divider"></div>
  <li>
    <img src="./../assets/icons/dark/Dark Theme Icons__Add to Top.png">
  </li>
</ul>
</div>