/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700");

:root {
  /* Colors */
  --foreground-default: #c3c3c3;
  --foreground-secondary: #A3B9CC;
  --foreground-tertiary: #747575;
  --foreground-quaternary: #E5E5E5;
  --foreground-light: #FFFFFF;
  --foreground-dark: #595959;
  

  --background-default: #2d2d2d;
  --background-secondary: #4f4f4f;
  --background-tertiary: #1a1a1a;
  --background-light: #444545;
  --background-dark:#2d2d2d;
  --background-middle:#595a5a;

  --primary-default: #5DFDCB;
  --primary-dark: #24B286;
  --primary-light: #B2FFE7;

  --error-default: #EF3E36;
  --error-dark: #800600;
  --error-light: #FFCECC;

  --background-tertiary-shadow: 0 1px 3px 0 rgba(8, 9, 10, 0.5);

}

body {
  background: var(--background-default);
}







.highlight {
    background-color: yellow;
}

.marker {
    position: absolute;
    background-color: rgba(0, 255, 0, 0.4);
}

.matchMarker {
    position: absolute;
    background-color: lightyellow;
}

/*
button:hover{
  color: rgb(51,51,51);
  background-color:white;
}

button.active {
  background-color:white;
  color: #4f4f4f;;
} */
/*
button{
  text-transform:capitalize;
  cursor:pointer;
  background-color:transparent;
  margin: 2px;
  border-radius: 50px;
  color: white;
  /*border-radius: 0px 10px 10px 0px;
  white-space: nowrap;
  text-align: center;
  /*transition:all ease-in 0.4s
} */

td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
}

.vis-network {
    background-color: #2d2d2d !important;
}

.ace_print-margin {
    left: 0 !important;
}
